.selects-wrapper{  
	  margin: 7vh 10vw;
		width: 80vw;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start; 
		gap: 2vh; 
	}

.container{  
  	width: 58.651026393vw;
    height: 8vh;
  }

.specialts{
	width: 120px;
  }

.pais{
	  width: 80px;
  }

.ciudad{
	  width: 67px;
	  margin-left: -100;
  }

.calendar{

  }

.search{
	/*	size: scale(1.1);  */
  }

.fields-border-box{
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	  border-radius: 14px;
  }

.fields{ 
			border: none;
		  margin: 0px;
		  padding: 10px;
		
		  font-family: 'Fira Sans Extra Condensed';
			font-style: normal;
			font-weight: 400;
			font-size: 30px;
			line-height: 35px;

			color: #302C2C;
  }

.flex-row{ 
  	  display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			padding: 0px;
  	  gap: 1.2vw 
  }

.flex-row-c{ 
  	  display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 0px;
  	  gap: 2vw 
  }

.flex-row-sb{ 
  	  display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 0px;
  	  gap: 2vw 
  }  

.flex-column{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			padding: 0px;
  	  gap: 2vh

}
.bar{
			width: 540px;
			height: 13px;
			background: #D9D9D9;
			border-radius: 14px;
  }  

.leyent-word{ 
			width: 81px;
			height: 32px;
			color: #000000;
  } 

.leyent-num{
			width: 20px;
			height: 32px;
			color: #99999C;
  }
.sub-leyent{
			color: #000000;;
  }

.ampers{ 
			width: 8px;
			height: 32px; 
			margin-left: 248px;
	}

.cero{
			width: 8px;
			height: 32px;
  }
.icons{
    	margin-left: -55px;
	    margin-top: -16vh;
	/*	width: 70px;
      height: 64px;*/
  }

.T4{
			font-family: 'Fira Sans Extra Condensed';
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			line-height: 32px;
			
			text-align: center;
	}

.status-bar{
	    margin-left: 6vw;
	    margin-top: 2vh;
	}

.select-back-arrow-wrapper{
     width: 100vw;
 		 margin-left: 12.463343109vw;
	   margin-top: 3.243243243vh;     
  }

.select-back-arrow{
	   margin-left: 0px;
	   margin-top: 0px;
		 width: 54px;
		 height: 31px;
  }