/* html {
  box-sizing: content-box;
} */

#container-map {
  /* width: '60%'; max-height: '70vh'; margin-top: '4vh'; */
  height: 70vh;
  background-color: #0a0a0a;
}


.loader-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #f8f8f8;
}

.loader-spinner:after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid #555;
  border-top-color: #e74c3c;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


#map {
    height: 100%;
    background-color: grey;
    /* box-sizing: initial; */
  }
  #map img {
    max-width : none;
}
#panel {
    display: flex;
    flex-direction: column;
    gap: 1vh;

    /* height: 30vh; */
    width: null;
    /* background-color: lightslategray; */
    background-color: #fff;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    transition: all .2s ease-out;
    top: 43vh;
    left: 10vw;
    /* border: black solid 1px; */
  }

  /* #panel img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      max-height: 29.325513196vw;

  }   */
     /* image section */
  .img-container{
      position: relative;
      margin: 10px auto;
      background-color: #000;
      width: 18.328445748vw;
      height: 18.328445748vw;
      padding: 10px;
      margin-left: 2.19941349vw;
      border-radius: 15px;
   }

  ul, li{ list-style: none; }

  .slider {
      position: relative;
      width: 100%;
      height: 90%;
  }

  .slider div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
  }

  .slider div:first-child {
    opacity: 1;
  }

  .slider div:target {
      opacity: 1;
  }

  .slider div img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
  }

  /* menu to change image buttons */
  .menu{
      text-align: center;
      margin: 5px;
      margin-left: -4.346041056vw;
      width: 21.994134897vw;
    }

  .menu li {
     display: inline-block;
     text-align: center;
     padding: 1px;
  }
  .menu ul { text-align: center; }
  .menu li a {
     display: inline-block;
     width: 1.46627566vw;
     height: 1.46627566vw;
     line-height: 1.46627566vw;
     text-decoration: none;
     /* background: #262626; */
     background-color: rgb(58, 137, 244);
     border-radius: 50%;
     font-size: 14px;
     padding: 2px;
  }

  .open {
    width: 18.328445748vw;
  }

  .place, p {
    font-family: 'Fira Sans Extra Condensed';
    padding-left: 18px;
    padding-right: 18px;
    margin-top: -8px;
    color: #000;
  }

  #panel h1 { color: #000; }

  .closeX{
     width: 22px;
     height: 22px;
     border-radius: 10px;
     background: -moz-linear-gradient(top, #fff, #5c85c6);
     color: black;
     text-align: center;
     line-height: 22px;
     font-weight: bold;
     align-self: end;
  }

  .details {
/* color: darkslategrey; */
/*   margin: 0px;*/
/* display: inline-flex;
   flex-direction: row;
   gap: 5px;*/
   color: orange;
   margin-top:-16px;
  }

  .ratingSpan{ color: #fefe00; }

  #panel a {
    text-decoration: none;
    color: rgb(17, 19, 19);
  }
