@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&display=swap');

*, body{
  font-family: "Fira Sans Extra Condensed", Helvetica, Arial, sans-serif;
}

#root {
  margin: 0 auto;
  font-size: 1.172161172vw;
}

.logo {
  height: 13.150684932vh;
  padding: 3.287671233vh 1.758241758vw;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2rem #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2rem #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 4.383561644vh 2.344322344vw;
}

.read-the-docs {
  color: #888;
}



.nav{
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 6.575342466vh;
  color:#333
}

.button{
  border: 0;
  font-size: 1,831501832vw;
  display: flex;
  align-items: center;
  text-align: center;
  color: #333;
  background: #F0EFEE !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
}


.button-Для-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 9.597069597vw;
  height: 6.849315068vh;

}

.button-Для-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.369863014vh 0.732600733vw;
}

.span{
  flex: none;
  order: 0;
  flex-grow: 0;
}


.app-icon{
   display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

p.app-icon{
  font-size: 5.128205128vw;
  color: #333;
  transform: rotate(-6.23deg);
}

.RTH-info{
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

p.header-info{
  box-sizing: border-box;
  margin: 0;
  width: 39.56043956vw;
  height: 16.438356164vh;
  font-size: 1.831501832vw;
  color: #333;
}

.link{
  font-size: 1.831501832vw;
  color: #3A89F4;
}

.back-arrow{
  position: relative;
  top: 40px;
  left: 1150px;
  transform: scale(2);
}

.globe{
  margin-top: 16.02739726vh;
}

.button-Для-1{
  margin-right: 2.197802198vw;
}

.wrapper-top{
  width: 81.246007326vw!important;
  margin: 0 auto;

}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiAccordion-root.MuiAccordion-rounded.Mui-expanded.MuiAccordion-gutters.css-nwbbc1-MuiPaper-root-MuiAccordion-root{
 margin-bottom: 25px!important;
}

.clinics-card {
  width: 25.641025641vw!important;
  background: #D9D9D9!important;
  margin-bottom: 2.191780822vh!important;
  border-radius: 14px!important;
}

.button-card{
  background: #2ACB91;
  height: 152px;
  width: 51px;
  border-radius: 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.css-whebh7-MuiInputBase-root-MuiInput-root:after, .css-whebh7-MuiInputBase-root-MuiInput-root:before{
  display: none;

}

.icons{
  width: 103.821vw;
  height: 8.108108108vh;
  position: relative;
  top: 3.324vh;
  left: 6.905vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 3.029304029vw;
}

.icons_wrapper{
  display: flex;
  gap: 1.46627566vw;
  margin-top: 27px;
}

.icons_wrapper img{
  width: 70px;
  height: 64px;
}

.button_blue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.39863014vh 3.663003663vw;
  gap: 1.369863014vh;
  width: 11.648351648vw;
  height: 6.849315068vh;
  background: #3A89F4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  font-size: 1.831501832vw;
  color: #333
}

.h2{
  font-size: 30px;
  line-height: 35px;
}

.T4{
  font-size: 15px;
  line-height: 32px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  gap: 1.46627566vw;
  background-color: #fff;
  margin: auto;
  border-radius: 1.026392962vw;
  padding: 1.46627566vw;
  margin: 0 auto;
  width: 50%;
}

.css-1e2qfxt-MuiSlider-root {
  width: 89%;
}

.top-form-inputs{
  display: flex;
  gap: 1.46628vw;
  width: 100%;
}

.especialidades-autocomplete{
  color: #000;
  border-radius: 1.026392962vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2.19941349vw;
  width: 33%;
}

fieldset{
  border: none;
  border-width: 0!important;
  transform: scale(1.1);
}

.clinic-cards-container{
  gap: 1rem;
  margin-top: 1rem!important;
  display: flex;
  flex-direction: column;
  width: 22vw;
  margin-top: 27px;
  border-radius: 15px;
  height: 0px;
}

.results-and-map-wrapper{
  display: flex;
  gap: 2.5rem;
  margin-top: 5px;
  min-height: 100vh;
}

.panel{
  position: absolute;
  width: 24vw;
  height: auto;
  left: 8vw;
  border-radius: 1vw;
  top: 50vh;
  z-index: 1;
}

.card-content button{
  background: #3A89F4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 52px;
  width: 152px;
  border: none;
  border-radius: 14px;
  margin-bottom: 20px;
}

.slider_leyent_button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.46627566vw;
  margin-bottom: 20px;
}

.slider_leyent_top{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.46627566vw;
  height: 2.346041056vw;
  margin-bottom: 10px;

}

.slider_leyent_top .T4{
  height: 0.586510264vw;
  color:#99999C;
}

.slider_leyent_top .T4 span{
 margin-right: 0.73313783vw;
}

.slider_wrapper{
  width: -webkit-fill-available;
}

.filters{
  display: flex;
  gap: 1.46627566vw;
  width: -webkit-fill-available;
  margin-top: -13px;
}

.slider_bar{
  height: 0.73313783vw;
  margin-bottom: 10px;
}

.search-and-results-container{
  width:90vw;
  min-height: 40vh;
  margin-top: -45px
}

.map {
  z-index: 99;
  width: 80vw;
  max-height: 100vh;
  margin-top: 4vh;
  border-radius: 1vw;
  height: 90vh;
}

.req-form-input{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 50%;
  border-radius: 1vw;
}

.search-icon{
  transform: scale(1.5);
  margin-top: 12px;
}

.icons_wrapper div{
  text-align: center;
}

.icons_wrapper div span{
  font-size: 14px;
}

.icons_wrapper div span.int-acc{
  display: block;
}

.onboarding-wrapper{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  gap: 2vw;
}

#chartdiv{
width: 50%;
height: 100vh;
}